<div id="candidateForm" style="direction: rtl;">
    <div>ת"ז:<input ng-model="candidate.id" /></div>
    <div>שם פרטי:<input ng-model="candidate.name"/></div>
    <div>שם משפחה:<input ng-model="candidate.surename" /></div>
    <div>טלפון 1:<input ng-model="candidate.phone1" /></div>
    <div>טלפון 1:<input ng-model="candidate.phone2" /></div>
    <div>מקום מגורים:<input ng-model="candidate.address" /></div>
    <div>מייל:<input ng-model="candidate.email" /></div>
    
    <button ng-click="saveCandidate()">שמור</button>
    
</div>
